
body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 2.5%;
}

#navbar {
    border-bottom: 5px solid #1b83ac;
    background-color: #2d2d2d;
    text-align: center;
    color: azure;
}

.country_name {
    text-transform: capitalize;
}


.nav-link {
    color: azure;
}

.nav-item {
    color: azure;
    background-color: #343a40;
}

/*For current date*/
#now {
    margin-bottom: 2.5%;
}

.jumbotron {
    margin-bottom: 0;
    padding-top: .005%;
    padding-bottom: 3.5%;
    background-color: #555551;
    color: azure;
}

#footer {
    background-color: #2d2d2d;
    border-top: #1b83ac solid 5px;
    text-align: center;
    margin-top: 2.5%;
    color: #ffffff;

}

#pagination {
    text-align: center;
}

.btn {
    text-align: center;
    background-color: #343a40;
    border-color: #343a40;
}

btn:hover {
    background-color: #343a40;
}

/*For <p> tags on about page */
.about {
    font-size: 18pt;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*Styles for index page*/
.data-table {
    overflow-x: auto;
    height: 45em;
    margin-top: 2.5%;
    margin-bottom: 5%;
    border-radius: 1.5%;
}

/*Styles for table header row*/
.table-header {
    position: sticky;
}

thead {
    border-bottom: 3px solid #2d2d2d;
}

/*Make header row scroll with page*/
th.header-row {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #4380a8;
    border-bottom: 3px solid #2d2d2d;
    color: azure;
}


/*For 404 template img*/
.four-oh-four-img {
    max-width: 100%;
    border: 3.5px solid #0066cc;
    border-radius: 15px;
    margin-bottom: 2.0%;
}

/*For 500 errors template*/
.error-message {
    margin-top: 25%;
    margin-bottom: 5%;
}

/****
Drop menu styles
****/

.dropdown-menu {
    background-color: #343a40;
    border: #2d2d2d;
    color: azure;
}

#dropdown-menu {
    color: azure;
    background-color: #343a40;
    text-align: center;
}

#dropdown-menu:hover {
    background-color: #343a40;
}

.dropdown-item {
    color: azure;
    background-color: #343a40;
    text-align: center;
}

/*For maintenance page*/
.maintenance {
    margin-top: 5%;
    margin-bottom: 50%;
    font-size: 16pt;
}