
body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 2.5%;
}

.navbar {
    border-bottom: 5px solid #1b83ac;
    background-color: #2d2d2d;
    text-align: center;
    color: azure;
}

#navbar {
    text-align: center;
}

.nav-link {
    color: azure;
}

/*For current date*/
#now {
    margin-bottom: 2.5%;
}

.jumbotron {
    margin-bottom: 0;
    padding-top: .005%;
    padding-bottom: 3.5%;
    background-color: #555551;
    color: azure;
}

#footer {
    background-color: #2d2d2d;
    border-top: #1b83ac solid 5px;
    text-align: center;
    margin-top: 2.5%;
    color: #ffffff;

}

#pagination {
    text-align: center;
}

.btn {
    text-align: center;
}

/*For <p> tags on about page */
.about {
    font-size: 18pt;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*Styles for index page*/
.data-table {
    overflow-x: auto;
    height: 45em;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 1.5%;
}

/*Styles for table header row*/
.table-header {
    position: sticky;
}

thead {
    border-bottom: 3px solid #2d2d2d;
}

/*Make header row scroll with page*/
th.header-row {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #4380a8;
    border-bottom: 3px solid #2d2d2d;
    color: azure;
}


/*For 404 template img*/
.four-oh-four-img {
    max-width: 100%;
    border: 3.5px solid #0066cc;
    border-radius: 15px;
    margin-bottom: 3.5%;
}

/*For 500 errors template*/
.five-hundred {
    margin-top: 15%;
    margin-bottom: 15%;
}
