{% extends "layout.html" %}

{% block title %}{{nation}} Cases {% endblock %}

{% block content %}

    <h2>{{nation}} Cases by Date</h2>

    <div class="data-table">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th class="header-row">Date</th>
                    <th class="header-row">Cases</th>
                    <th class="header-row">Status</th>  
                </tr>
            </thead>
            
        {% for record in data %}
            <tbody>
                <tr>
                    <td>{{record.Date}}</td>
                    <td>{{record.Cases}}</td>
                    <td>{{record.Status}}</td>
                </tr>
            </tbody>
        {% endfor %}
        
        </table>
    </div>

{% endblock %}