{% extends "layout.html" %}

{% block title %}{{nation}} Cases {% endblock %}

{% block content %}

    <h2>{{nation}} Cases by Date</h2>

    <div class="data-table">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th class="header-row">Date</th>
                    <th class="header-row">Confirmed Cases</th>
                    <th class="header-row">Deaths</th>
                    <th class="header-row">Recoveries</th>
                    <th class="header-row">Province/State</th>
                </tr>
            </thead>
            
        {% for record in data %}
            <tbody>
                <tr>
                    <td>{{record.Date}}</td>
                    <td>{{record.Confirmed}}</td>
                    <td>{{record.Deaths}}</td>
                    <td>{{record.Recoveries}}</td>
                    <td>{{record.Province}}</td>
                </tr>
            </tbody>
        {% endfor %}
        
        </table>
    </div>

{% endblock %}