{% extends "layout.html" %}

{% block title %}Deaths {% endblock %}

{% block content %}

<h2>Deaths by Country</h2>

    <div class="data-table">
        <table class="table table-striped">

            <thead>
                <tr class="header-row">
                    <th class="header-row">Country</th>
                    <th class="header-row">Total Deaths</th>
                    <th class="header-row">New Deaths</th>     
                </tr>
            </thead>
            
        {% for nation in data %}
            <tbody>
                <tr>
                <td>{{nation.Country}}</td>
                <td>{{nation.TotalDeaths}}</td>
                <td>{{nation.NewDeaths}}</td>
                </tr>
            </tbody>
        {% endfor %}
            
        </table>
    </div>

{% endblock %}