{% extends "layout.html" %}

{% block title %}Deaths {% endblock %}

{% block content %}

<h2>Countries with No Reported Cases</h2>

        <p><strong>Note:</strong> having zero reported cases does not mean a country is 
            free of COVID-19. It just means there are no <em>reported</em>  results.
        </p>

        <table class="table table-striped">

            <thead>
                <tr class="header-row">
                    <th class="header-row">Country</th>
                    <th class="header-row">Total Cases</th>
                </tr>
            </thead>
            
        {% for nation in data %}
            <tbody>
                <tr>
                <td>{{nation.Country}}</td>
                <td>{{nation.TotalConfirmed}}</td>

                </tr>
            </tbody>
        {% endfor %}
            
        </table>


{% endblock %}