{% extends "layout.html" %}

{% block title %}Recoveries {% endblock %}

{% block content %}

<h2>Recoveries by Country</h2>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Country</th>
                <th>Total Recoveries</th>
                <th>New Recoveries</th>
            </tr>
        </thead>
        
    {% for nation in data %}
        <tbody>
            <tr>
            <td>{{nation.Country}}</td>
            <td>{{nation.TotalRecovered}}</td>
            <td>{{nation.NewRecovered}}</td>
            </tr>
        </tbody>
    {% endfor %}
      
    </table>

{% endblock %}