{% extends "layout.html" %}

{% block title %}{{nation}} Totals History {% endblock %}

{% block content %}

<h2>{{nation}} Total Cases History</h2>


<h4><a href="{{ url_for('cases_graph', country=nation )}}">View Cases Graph for This Country</a></h4>

<div class="data-table">
    <table class="table table-striped">

        <thead>
            <tr>
                <th class="header-row">Date</th>
                <th class="header-row">Total Cases</th>
                <th class="header-row">Total Deaths</th>
                <th class="header-row">Total Recoveries</th>
            </tr>
        </thead>
        
    {% for record in data %}
        <tbody>
            <tr>
                <td>{{record.Date}}</td>
                <td>{{record.Confirmed}}</td>
                <td>{{record.Deaths}}</td>
                <td>{{record.Recovered}}</td>
            </tr>
        </tbody>
    {% endfor %}
    
    </table>
</div>

{% endblock %}