{% extends "layout.html" %}

{% block title %}{{nation}} Totals {% endblock %}

{% block content %}

<h2>{{nation}} Total Cases History</h2>

<!--TODO: Fix this, so it does link to index route!-->
<!-- <h4><a href="{{ url_for('country_cases', country=nation.Country )}}">View Cases per Province/State for This Country</a></h4> -->

<div class="data-table">
    <table class="table table-striped">

        <thead>
            <tr>
                <th class="header-row">Date</th>
                <th class="header-row">Confirmed Cases</th>
                <th class="header-row">Deaths</th>
                <th class="header-row">Recoveries</th>
            </tr>
        </thead>
        
    {% for record in data %}
        <tbody>
            <tr>
                <td>{{record.Date}}</td>
                <td>{{record.Confirmed}}</td>
                <td>{{record.Deaths}}</td>
                <td>{{record.Recovered}}</td>
            </tr>
        </tbody>
    {% endfor %}
    
    </table>
</div>

{% endblock %}